# Backend web framework
django==2.2.24

# Development Utility
django-extensions==2.2.1

# Rest API
djangorestframework==3.10.2

# Rest API authentication
django-allauth==0.39.1
django-rest-auth==0.9.5
django-rest-auth[with_social]

# Interact with the running webpack server during deployment
django-webpack-loader

# WSGI library for deploying the app
gunicorn==19.9.0

# PostgreSQL Adapter
psycopg2==2.8.3

# Util for talking to the cache database
redis==3.3.6
